.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-transform: none;
  text-decoration: none;
}

.h1,
h1 {
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

.h2,
h2 {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

.h3,
h3 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

.h4,
h4 {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

.h5,
h5 {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.h6,
h6 {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  text-decoration: none;
}

p,
.p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}

.label,
label {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.placeholder {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
  color: rgba(0,0,0,.5);
}

@media (min-width: 576px) {
  .sm\:h1 {
    font-size: 80px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
  }
  .sm\:h2 {
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
  }
  .sm\:h3 {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
  }
  .sm\:h4 {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
  }
  .sm\:h5 {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .sm\:h6 {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .sm\:p {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    text-decoration: none;
  }
  .sm\:label {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.hide-font,
.hide-font * {
  color: transparent !important;
}